/*zh-cn*/
.addfollow-btn,
.followed-btn,
.post-box .post-title,
.post-box .share-btn,
.post-box .share-btn:hover, 
.post-box .share-btn-disable { background:url( <?php echo $BASE_URL?>bgimg/skin_bg.png ) no-repeat; }

/*加关注和已关注按钮*/
.addfollow-btn,
.followed-btn { display:block;width:54px; height:21px; background-position:0 -40px; text-indent:-9999px; outline:none;cursor:pointer; }
.addfollow-btn:hover { background-position:-72px -40px;}
.followed-btn { background-position:-144px -40px; cursor:default; }

/*微博发布框*/
.post-box .post-title { background-position:0 0; }
.post-box .share-btn { background-position:0 -80px;}
.post-box .share-btn:hover { background-position:-104px -80px;}
.post-box .share-btn-disable { background-position:-208px -80px; cursor:default;}
.post-box .share-btn-disable:hover { background-position:-208px -80px; cursor:default;}
